body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}

/* main styles */

.main {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  margin: 0 auto;
}

/* sidebar styles */

.sidebar {
  background-color: #1e2939;
  padding-top: 40px;
}

.photo {
  width: 370px;
  margin-bottom: 50px;
}

.sidebar-title {
  color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.contacts,
.skils {
  margin-left: 48px;
}

.contacts {
  margin-bottom: 50px;
}

.skils {
  margin-bottom: 45px;
}

.skills-list {
  color: #fff;
  padding: 0;
  margin-left: 17px;
}

.skills-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.skils-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fb6d3a;
}

.contact-type {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.contact-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #8f949c;
  margin-left: 8px;
}

/* main content styles */

.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
  padding: 105px 90px;
}

/* about styles */

.about {
  margin-bottom: 40px;
}

.position {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin-bottom: 20px;
}

.name {
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000000;
  margin-bottom: 25px;
}

.description {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}

/* project styles */

.projects {
  margin-bottom: 50px;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000000;
  margin-bottom: 10px;
}

.projects-list {
  padding: 0px;
  margin-left: 15px;
}

.projects-item {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 10px;
}

/* work styles */

.work {
  /* padding-top: 100px;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 40px; */
  /* 
  padding: 100px 40px 50px 20px;

  padding: 50px;

  padding: 50px 100px; */
}

.company {
  color: #fb6d3a;
}

.company1 {
  margin-top: 10px;
}

.company1,
.company2,
.company3 {
  margin-bottom: 10px;
}

.date-work {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-top: 0px;
  margin-bottom: 0px;
}

.responsibilities {
  padding: 0px 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.line-in-work {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}

/* education styles */

.education {
  margin-bottom: 10px;
}

.college {
  margin: 10px 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.speciality {
  margin: 10px 0px;
  padding: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
